<%= form_for(lover) do |f| %>
  <% if lover.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lover.errors.count, "error") %> prohibited this lover from being saved:</h2>

      <ul>
      <% lover.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.text_field :password %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
